<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Sign Controller Prototype using VueJS 2.1 and Foundation 6.3.0</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <header class="text-center">
        <h1>Goodies Store</h1>
        <p class="text-center">Good food. Good drinks. Good gas.</p>
    </header>
    <main>
        <h4 class="text-center">Sign Edit Dashboard</h4>
        <form name="dashBoard" novalidate>
            <div class="flex-container" style="justify-content: center;">
                <div class="flex-item dash"
                     v-for="(commodity, c) in commodities"
                >
                    <a href="#"
                       class="button"
                       :title="'Go to price editing form for all price tiers for commodity: '+commodity.name"
                       style="width: 7em;"
                       :data-open="commodity.name"
                    v-text="commodity.name"></a>
                    <!--data-reveal-id={{'commodity'+c}}-->
                    <input type="number" min="0" max="9.99" step="0.01"
                           title="Edit price."
                           v-model="commodity.price"
                           @input="priceChange(commodity)"
                    >
                    <div class="flex-item"
                         v-for="(tier, t) in tiers"
                    >
                        <div class="priceGroup"
                             v-if="tier.id==0"
                        >
                            <h6 v-text="tier.name"></h6>
                            <div class="price"
                                 :title="commodity.priceTitle"
                            v-text="commodity.price.toFixed(2)"></div>
                        </div>
                        <div class="priceGroup"
                             v-if="tier.id>0"
                             v-show="detail"
                        >
                            <h6 v-text="tier.name"></h6>
                            <div class="price"
                            v-text="(commodity.price+commodity.tierDiffs[t]).toFixed(2)"></div>
                        </div>
                    </div><!-- .priceGroup -->
                </div><!-- .flex-item.commodity -->
            </div><!--.flex-container-->
        </form>
        <h6 class="text-center"
            :class="{ caution: signState }"
        v-text="signPriceState"></h6>
        <div class="flex-container" style="justify-content: center;">
            <button class="button secondary flex-item"
                    accesskey="1"
                    v-show="1 < tiers.length"
                    title="Button is only displayed if there is more than one price tier. Accesskey 1: Detail button"
                    @click="toggleDetail()"
            v-text="detailText"></button>
            <button class="button warning flex-item"
                    accesskey="2"
                    title="Reset the prices to state at last update and clear all unsaved changes. Accesskey 2: Reset button"
                    :disabled="!signState"
                    @click="resetPrices()"
            >Reset Prices</button>
            <button class="button alert flex-item"
                    accesskey="3"
                    title="Changes are saved to sign. Accesskey 3: Update button"
                    :disabled="!signState"
                    @click="sendPrices()"
            >Update Sign</button>
        </div>
        <!--# all modal windows are using foundation.js for conceal reveal and vue.js to populate data-->
        <!--Update simulation modals ---------------------------------------------------------------- -->
        <div class="reveal caution"
             id="sendPrices"
             data-reveal
             data-close-on-esc="false"
             data-close-on-click="false"
        >
            <h5>Prices submitted to signs.</h5>
            <p>This could take several seconds...</p>
            <p>(Simulated sign controller function.)</p>
            <button class="close-button"
                    type="button"
                    data-open="pricesReceived"
                    data-close
                    aria-label="Close modal"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="reveal good"
             id="pricesReceived"
             data-reveal
             data-show-delay="1000"
        >
            <h5>Prices successfully updated on signs.</h5>
            <p>(Simulated sign controller function.)</p>
            <button class="close-button"
                    type="button"
                    data-close
                    aria-label="Close modal"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!--Commodity Tier Price modals ------------------------------------------------------------->
        <div class="reveal medium priceTiers"
             v-for="(commodity, c) in commodities"
             :id="commodity.name"
             data-reveal
        >
            <button class="close-button"
                    type="button"
                    data-close
                    aria-label="Close modal"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="text-center">Edit&nbsp;Tier&nbsp;Prices&nbsp;Form</h2>
            <h3 class="text-center" v-text="'Commodity: '+commodity.name"></h3>
            <h6 class="text-center">This amount added to commodity base price.</h6>
            <form name="priceEditForm"
                  class="flex-container"
                  novalidate
            >
                <div class="flex-item priceGroup fg1">
                    <input id="baseprice"
                           type="number" min="0" max="9.99" step="0.01"
                           title="Edit base price"
                           v-model="commodity.price"
                           @input="priceChange(commodity)"
                    >
                    <label for="baseprice"
                           class="text-center"
                    >Base Price</label>
                    <div class="price"
                         :title="commodity.priceTitle"
                         v-text="commodity.price.toFixed(2)"></div>
                </div><!--.flex-item-->
                <div class="flex-item priceGroup fg1"
                     v-for="(tier, t) in tiers">
                    <input :name="'price-tier'+t"
                           type="number" min="-1" max="1" step="0.01"
                           title="Edit tier price difference"
                           v-model="commodity.tierDiffs[t]"
                           @input="diffChange(commodity,t)"
                    >
                    <label :for="'price-tier'+t"
                           class="text-center"
                    v-text="tier.name"></label>
                    <div class="price"
                         :class="{ changed: commodity.priceChanged }"
                         :title="commodity.priceTitle"
                    v-text="(commodity.price+commodity.tierDiffs[t]).toFixed(2)"></div>
                </div><!--.flex-item-->
            </form>
            <div class="flex-container" style="margin-top: 1em;">
                <a href="#"
                   class="button flex-item fg1"
                   v-for="tab in commodities"
                   v-show="tab.id != commodity.id"
                   :title="'Edit price tiers for commodity: '+tab.name"
                   :data-open="tab.name"
                v-text="tab.name"></a>
            </div>
            <h6 class="text-center"
                :class="{ caution: signState }" v-text="signPriceState"></h6>
            <div class="flex-container" style="margin-top: 1em;">
                <button class="button alert price-button flex-item fg1"
                        accesskey="1"
                        :disabled="!signState"
                        title="Price changes are not saved until the Update Sign button is clicked here or back on the Sign Edit Dashboard."
                        @click="updateSign(commodity.name)"
                >Update Sign</button>
                <button class="button warning price-button flex-item fg1"
                        accesskey="2"
                        :disabled="!signState"
                        title="The Reset button resets the form to it&rsquo;s condition just after the last Update."
                        @click="resetPrices()"
                >Reset Prices</button>
            </div><!--.flex-container-->
        </div><!--#commidities-modal-->
    </main>


<script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js"></script>
<script src="js/app.js"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>
